$fontFamily: 'Montserrat';
$mainColor: #000; // Цвет шрифта по умолчанию
$mainDarkColor: #141414;
$mainOrange: #e8aa31;
$lightColor: #fff;
// $secondary: rgb(94, 150, 252);
// $secondary: rgb(14, 60, 145);
$secondary: rgb(33, 78, 161);
$danger: #cf0e0e;
$success: green;
$border: #d5d6dc;
$borderlight: #eaebed;
