.select {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #d5d6dc;
  background: #fff;
}
.option {
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
