.myModal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.myModalContent {
  padding: 25px;
  background: #fff;
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
