.admin {
  &__container {
    max-width: 1000px;
  }
  &__item {
    margin: 0px 0px 10px 0px;
  }
  &__btn {
    margin: 0px 0px 15px 0px;
    width: 100%;
    display: block;
    text-align: center;
  }
}

.item-admin {
  border: 1px solid $border;
  padding: 10px;
  @media (max-width: 600px) {
    padding: 10px 7px;
  }
  border-radius: 5px;
  &__wrapper {
    display: flex;
    gap: 10px;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
  &__image {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    height: 70px;
  }
  &__content {
    flex: 1 1 100%;
    @media (max-width: 480px) {
      flex: 1 1 60%;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    @media (max-width: 480px) {
      flex-direction: row;
    }
  }
  &__title {
    font-weight: 500;
    margin: 0px 0px 2px 0px;
    color: $mainDarkColor;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__btn {
    padding: 5px 8px;
    width: 100%;
    @media (max-width: 600px) {
      font-size: 13px;
    }
  }
}
.form-admin {
  .input:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
  .btn {
    width: 100%;
  }
}
.admin-edit {
  &__container {
    max-width: 700px;
  }
}
.admin-users {
  &__container {
  }
  &__list {
  }
  &__item {
  }
}
.user-admin {
  &__id {
  }
  &__role {
  }
  &__name {
  }
  &__login {
  }
  &__created {
  }
  &__updated {
  }
}
