.cart-page {
  &__container {
    max-width: 1000px;
  }
  &__wrapper {
    margin: 0 auto;
    max-width: 800px;
  }
  &__list {
    margin: 0px 0px 20px 0px;
  }
  &__total {
    margin: 0px 0px 30px 0px;
  }
  &__checkout {
  }
}
// ////////////////////////////////////////////

// ////////////////////////////////////////////

.total-cart {
  border: 1px solid $borderlight;
  border-radius: 10px;
  padding: 15px;
  &__title {
    font-size: 18px;
    font-weight: 500;
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
  @media (max-width: 600px) {
    padding: 10px;
  }
  &__inner {
  }
  &__btn {
    display: inline-block;
    text-align: center;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
  }
}

.list-cart {
  &__item {
  }
}

//cart-item
.item-cart {
  &:first-child {
    border-top: 1px solid $border;
  }
  border-bottom: 1px solid $border;
  padding: 10px 5px;
  &__wrapper {
    display: flex;
    gap: 10px;
  }
  &__image {
    flex: 0 0 90px;
    display: flex;
    justify-content: center;
    height: 90px;
    .image {
      height: 90px;
      width: 90px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__content {
    flex: 1 1 100%;
    span {
      font-weight: 500;
    }
  }
  &__actions {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-weight: 500;
    margin: 0px 0px 15px 0px;
    color: $mainDarkColor;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 600px) {
      font-size: 14px;
      margin: 0px 0px 10px 0px;
    }
  }
  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;
    font-size: 10px;
    width: 21px;
    height: 21px;
    font-weight: 700;
  }
}

.empty-cart {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    max-width: 250px;
    min-height: 187px;
    @media (max-width: 600px) {
      max-width: 220px;
      min-height: 160px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    margin: 0px 0px 18px 0px;
    @media (max-width: 768px) {
      font-size: 21px;
      margin: 0px 0px 10px 0px;
    }
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
  &__text {
    margin: 0px 0px 20px 0px;
    @media (max-width: 768px) {
      margin: 0px 0px 15px 0px;
    }
  }
  &__btn {
    max-width: 200px;
  }
}

//checkout-cart
.checkout-cart {
  &__wrapper {
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 25px 0px;
    @media (max-width: 768px) {
      font-size: 18px;
      margin: 0px 0px 15px 0px;
    }
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
  &__form {
    margin: 0px 0px 40px 0px;
  }
}
.form-checkout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__row {
    display: flex;
    gap: 10px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  &__col {
    flex: 0 1 50%;
    .not-verify {
      border-color: rgb(213, 17, 17);
      color: rgb(213, 17, 17);
      cursor: default;
    }
  }
  &__label {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 0px 3px 0px;
    .required {
      color: rgb(255, 1, 47);
    }
  }
}
.App-payment {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
  @media (max-width: 600px) {
    .rccs {
      &__card {
        width: 270px;
        height: 170px;
      }
      &__number {
        font-size: 17px;
      }
      &__name {
        font-size: 15px;
      }
      &__expiry__value {
        font-size: 14px;
      }
      &__chip {
        height: 23px;
        width: 37px;
      }
    }
  }

  .form {
    flex: 0 1 50%;
    @media (max-width: 768px) {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
    .btn {
      width: 100%;
    }
  }
  .form-group {
    margin: 0px 0px 5px 0px;
  }
  .input {
    padding: 5px;
  }
  .row {
    display: flex;
    gap: 5px;
    margin: 0px 0px 10px 0px;
    .col-6 {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
