.header {
  background-color: #fff;
  border-bottom: 1px solid $borderlight;
  &__container {
    display: flex;
    align-items: center;
    min-height: 70px;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 15px;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    //test
    flex-wrap: wrap;

    @media (max-width: 768px) {
      min-height: 60px;
      column-gap: 30px;
    }
  }
  &__user {
    margin-left: auto;
  }
  &__menu {
    @media (max-width: 500px) {
      flex: 1 1 100%;
    }
  }
}
.logo {
  color: $mainDarkColor;
  font-weight: 600;
}
.menu {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    @media (max-width: 768px) {
      column-gap: 30px;
    }
    @media (max-width: 500px) {
      justify-content: center;
      column-gap: 50px;
    }
  }
  &__link {
    color: $mainDarkColor;
    &.active {
      // color: rgb(94, 150, 252);
      color: #5e96fc;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.basket-link {
  display: flex;
  align-items: center;
  gap: 10px;
  &__icon {
    position: relative;
    max-width: 25px;
  }
  &__text {
  }

  b {
    font-weight: 400;
    background-color: $secondary;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    top: -5px;
    right: -8px;
  }
}

.admin-nav {
  background-color: $secondary;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__menu {
    display: flex;
    // gap: 20px;
  }
  &__item {
  }
  &__link {
    display: block;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    color: $lightColor;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $lightColor;
        color: $secondary;
      }
    }
  }
}
