//common
.btn,
.input {
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  width: 100%;
  cursor: pointer;
}

//default button

.btn {
  width: inherit;
  background-color: $secondary;
  color: $lightColor;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid $secondary;
  transition: all 0.2s ease 0s;
  @media (max-width: 600px) {
    padding: 6px;
  }
  &:hover {
    background-color: transparent;
    color: $secondary;
  }
  &.outline {
    background-color: transparent;
    color: $secondary;
    &:hover {
      box-shadow: 0px 0px 5px $secondary;
      border-color: transparent;
    }
  }
}

.btn[disabled] {
  opacity: 0.6;
  &:hover {
    box-shadow: none;
    cursor: auto;
    background-color: $secondary;
    color: #fff;
  }
}
.btn.danger {
  background-color: $danger;
  border-color: $danger;
  &:hover {
    background-color: $danger;
    color: #fff;
    box-shadow: 0px 1px 8px rgba($danger, 0.7);
  }
}
.btn.success {
  background-color: $success;
  border-color: $success;
  &:hover {
    background-color: $success;
    color: #fff;
    box-shadow: 0px 1px 8px rgba($success, 0.7);
  }
}

//default input
.input {
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $border;
  background: #fff;
}
